In [32]:
import pandas as pd
import numpy as np
import os


daily_temps_df = pd.read_csv("weather_station_temps/all_stations_temp.csv") # dataframe containing daily 
                                                                            # temperatures for weather stations

    
typhoon_df = pd.read_csv("typhoon_data/cleaned_typhoon_data.csv") # dataframe containing dates of hurricanes
                                                                  # and typhoons
typhoon_df.set_index("Date",inplace = True)

daily_temps_df.head(10)

,Unnamed: 0,date,jacksonville precipitation,jacksonville mean temp,jacksonville max temp,jacksonville min temp,miami precipitation,miami mean temp,miami max temp,miami min temp,tampa precipitation,tampa mean temp,tampa max temp,tampa min temp
0,0,20000101,0.00,64.5,76.0,53.0,0.00,72.0,81.0,63.0,0.00,69.0,77.0,61.0
1,1,20000102,0.00,63.5,77.0,50.0,0.00,72.5,79.0,66.0,0.00,69.5,80.0,59.0
2,2,20000103,0.00,64.0,79.0,49.0,0.00,72.0,80.0,64.0,0.00,70.0,80.0,60.0
3,3,20000104,0.18,69.0,82.0,56.0,0.00,75.5,80.0,71.0,0.00,72.0,79.0,65.0
4,4,20000105,0.00,50.5,60.0,41.0,0.24,73.5,80.0,67.0,0.00,60.0,67.0,53.0
5,5,20000106,0.00,55.0,70.0,40.0,0.00,76.0,81.0,71.0,0.52,69.5,80.0,59.0
6,6,20000107,0.30,56.0,64.0,48.0,0.00,74.0,80.0,68.0,0.19,70.0,76.0,64.0
7,7,20000108,0.00,58.0,71.0,45.0,0.00,73.0,80.0,66.0,0.00,66.5,71.0,62.0
8,8,20000109,0.00,65.0,80.0,50.0,0.00,73.0,81.0,65.0,0.00,68.0,76.0,60.0
9,9,20000110,0.03,63.5,73.0,54.0,0.00,75.5,81.0,70.0,0.09,72.0,79.0,65.0

In [124]:
features = np.zeros((daily_temps_df.shape[0]-5,12*5+1))
"""
The i th column of the features array gives the value given by features_cols[i]. 
Here -5 means that value 5 days before the event, -4 means 4 days before, etc.


"""
features_cols = []
for i in range(-5 , 0):
    for x in daily_temps_df.columns[2:]:
        features_cols += [x + " " + str(i)]

features_cols += ["Date"]
print(features_cols)

features[:,-1] = daily_temps_df["date"][5:]

for i in range(0,12*5):
    features[:,i] = daily_temps_df[daily_temps_df.columns[(i)%12+2]][int(i/12):-5+int(i/12)]

print(features.shape)
features_df = pd.DataFrame(data = features,columns = features_cols)
#features.append(dailytemps_df["date"][5:].values)


features_df.head()

['jacksonville precipitation -5', 'jacksonville mean temp -5', 'jacksonville max temp -5', 'jacksonville min temp -5', 'miami precipitation -5', 'miami mean temp -5', 'miami max temp -5', 'miami min temp -5', 'tampa precipitation -5', 'tampa mean temp -5', 'tampa max temp -5', 'tampa min temp -5', 'jacksonville precipitation -4', 'jacksonville mean temp -4', 'jacksonville max temp -4', 'jacksonville min temp -4', 'miami precipitation -4', 'miami mean temp -4', 'miami max temp -4', 'miami min temp -4', 'tampa precipitation -4', 'tampa mean temp -4', 'tampa max temp -4', 'tampa min temp -4', 'jacksonville precipitation -3', 'jacksonville mean temp -3', 'jacksonville max temp -3', 'jacksonville min temp -3', 'miami precipitation -3', 'miami mean temp -3', 'miami max temp -3', 'miami min temp -3', 'tampa precipitation -3', 'tampa mean temp -3', 'tampa max temp -3', 'tampa min temp -3', 'jacksonville precipitation -2', 'jacksonville mean temp -2', 'jacksonville max temp -2', 'jacksonville min temp -2', 'miami precipitation -2', 'miami mean temp -2', 'miami max temp -2', 'miami min temp -2', 'tampa precipitation -2', 'tampa mean temp -2', 'tampa max temp -2', 'tampa min temp -2', 'jacksonville precipitation -1', 'jacksonville mean temp -1', 'jacksonville max temp -1', 'jacksonville min temp -1', 'miami precipitation -1', 'miami mean temp -1', 'miami max temp -1', 'miami min temp -1', 'tampa precipitation -1', 'tampa mean temp -1', 'tampa max temp -1', 'tampa min temp -1', 'Date']
(4388, 61)

,jacksonville precipitation -5,jacksonville mean temp -5,jacksonville max temp -5,jacksonville min temp -5,miami precipitation -5,miami mean temp -5,miami max temp -5,miami min temp -5,tampa precipitation -5,tampa mean temp -5,...,jacksonville min temp -1,miami precipitation -1,miami mean temp -1,miami max temp -1,miami min temp -1,tampa precipitation -1,tampa mean temp -1,tampa max temp -1,tampa min temp -1,Date
0,0.00,64.5,76.0,53.0,0.00,72.0,81.0,63.0,0.0,69.0,...,41.0,0.24,73.5,80.0,67.0,0.00,60.0,67.0,53.0,20000106.0
1,0.00,63.5,77.0,50.0,0.00,72.5,79.0,66.0,0.0,69.5,...,40.0,0.00,76.0,81.0,71.0,0.52,69.5,80.0,59.0,20000107.0
2,0.00,64.0,79.0,49.0,0.00,72.0,80.0,64.0,0.0,70.0,...,48.0,0.00,74.0,80.0,68.0,0.19,70.0,76.0,64.0,20000108.0
3,0.18,69.0,82.0,56.0,0.00,75.5,80.0,71.0,0.0,72.0,...,45.0,0.00,73.0,80.0,66.0,0.00,66.5,71.0,62.0,20000109.0
4,0.00,50.5,60.0,41.0,0.24,73.5,80.0,67.0,0.0,60.0,...,50.0,0.00,73.0,81.0,65.0,0.00,68.0,76.0,60.0,20000110.0

Now we add a labels column to this dataframe which will read '1' if there was a hurricane on that day or '0' if there wasn't

In [151]:
labels = list(daily_temps_df["date"][5:])

print(typhoon_df.index)
for i in range(0,len(labels)):
    if labels[i] in typhoon_df.index:
        labels[i] = 1
    else:
        labels[i] = 0


features_df.insert(loc = 0,column = "label",value = labels)

Int64Index([20000808, 20000808, 20000809, 20000809, 20000809, 20000809,
            20000810, 20000810, 20000810, 20000810,
            ...
            20110905, 20110905, 20110905, 20111109, 20111109, 20111109,
            20111109, 20111110, 20111110, 20111110],
           dtype='int64', name='Date', length=860)
4388
(4388, 61)

In [154]:
features_df.head()
features_df.to_csv("labels_and_features.csv")